# Getting started with data

In [35]:
import pandas as pd

In [36]:
url = "Data/nhanes_2015_2016.csv"
da=pd.read_csv(url);

In [37]:
da

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,...,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,...,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,...,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,...,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,...,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5730,93695,2.0,2.0,NaN,1,2,76,3,1.0,3.0,...,112.0,46.0,59.1,165.8,21.5,38.2,37.0,29.5,95.0,2.0
5731,93696,2.0,2.0,NaN,2,1,26,3,1.0,5.0,...,116.0,76.0,112.1,182.2,33.8,43.4,41.8,42.3,110.2,2.0
5732,93697,1.0,NaN,1.0,1,2,80,3,1.0,4.0,...,146.0,58.0,71.7,152.2,31.0,31.3,37.5,28.8,NaN,2.0
5733,93700,NaN,NaN,NaN,1,1,35,3,2.0,1.0,...,106.0,66.0,78.2,173.3,26.0,40.3,37.5,30.6,98.9,2.0
5734,93702,1.0,NaN,2.0,2,2,24,3,1.0,5.0,...,114.0,68.0,58.3,165.0,21.4,38.2,33.5,26.2,72.5,2.0

In [38]:
da['ALQ110']   #explore the ALQ100 IDK what is this XD:

0       NaN
1       NaN
2       NaN
3       1.0
4       1.0
       ...
5730    2.0
5731    2.0
5732    NaN
5733    NaN
5734    NaN
Name: ALQ110, Length: 5735, dtype: float64

In [39]:
da.head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,...,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,...,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,...,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,...,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,...,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

In [40]:
da.shape

(5735, 28)

In [41]:
print("colmun : ",da.columns.size)

colmun :  28

In [53]:
Data = {
    "Name" : ["iftikhar" ,"zain","ali","asad","zaman"],
    "age": ["12" ,"23" ,"34","54"],
    "sex"  :["female","female","female","male"]
}

In [149]:
sd=pd.DataFrame({   #sd self data
    "Name" : ["iftikhar" ,"zain","ali","asad","zaman"],
    "age": [90,98,89,"NULL",80],
    "sex"  :["female","female","female","male" ,"male"]
})

In [150]:
sd.head()

       Name   age     sex
0  iftikhar    90  female
1      zain    98  female
2       ali    89  female
3      asad  NULL    male
4     zaman    80    male

In [151]:
sd["Name"].size

5

In [152]:
sd.head(2)    #if i want to read 2 line

       Name age     sex
0  iftikhar  90  female
1      zain  98  female

In [153]:
sd.tail()   #getting last 10 row

       Name   age     sex
0  iftikhar    90  female
1      zain    98  female
2       ali    89  female
3      asad  NULL    male
4     zaman    80    male

In [154]:
sd["sex"].dtypes

dtype('O')

In [155]:
sd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   age     5 non-null      object
 2   sex     5 non-null      object
dtypes: object(3)
memory usage: 248.0+ bytes

In [156]:
da.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5735 entries, 0 to 5734
Data columns (total 28 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      5735 non-null   int64
 1   ALQ101    5208 non-null   float64
 2   ALQ110    1731 non-null   float64
 3   ALQ130    3379 non-null   float64
 4   SMQ020    5735 non-null   int64
 5   RIAGENDR  5735 non-null   int64
 6   RIDAGEYR  5735 non-null   int64
 7   RIDRETH1  5735 non-null   int64
 8   DMDCITZN  5734 non-null   float64
 9   DMDEDUC2  5474 non-null   float64
 10  DMDMARTL  5474 non-null   float64
 11  DMDHHSIZ  5735 non-null   int64
 12  WTINT2YR  5735 non-null   float64
 13  SDMVPSU   5735 non-null   int64
 14  SDMVSTRA  5735 non-null   int64
 15  INDFMPIR  5134 non-null   float64
 16  BPXSY1    5401 non-null   float64
 17  BPXDI1    5401 non-null   float64
 18  BPXSY2    5535 non-null   float64
 19  BPXDI2    5535 non-null   float64
 20  BMXWT     5666 non-null   float64
 21  BMXHT     5673 non-null   float64
 22  BMXBMI    5662 non-null   float64
 23  BMXLEG    5345 non-null   float64
 24  BMXARML   5427 non-null   float64
 25  BMXARMC   5427 non-null   float64
 26  BMXWAIST  5368 non-null   float64
 27  HIQ210    4732 non-null   float64
dtypes: float64(20), int64(8)
memory usage: 1.2 MB

In [157]:
sd["age"]

0      90
1      98
2      89
3    NULL
4      80
Name: age, dtype: object

In [158]:
type(sd["age"])

pandas.core.series.Series

In [159]:
sd.shape

(5, 3)

In [160]:
sd["age"].shape #telling the lenght of the column

(5,)

In [161]:
age_sex = sd[["age" ,"sex"]]

In [162]:
age_sex

    age     sex
0    90  female
1    98  female
2    89  female
3  NULL    male
4    80    male

In [163]:
age_sex.head(3)

  age     sex
0  90  female
1  98  female
2  89  female

# How do I filter specific rows from a DataFrame?¶

In [164]:
above_80 = sd[sd["age"]>80]
above_80

TypeError: '>' not supported between instances of 'str' and 'int'

In [165]:
sd["age"] >80

TypeError: '>' not supported between instances of 'str' and 'int'

In [166]:
sd["Name"]

0    iftikhar
1        zain
2         ali
3        asad
4       zaman
Name: Name, dtype: object

In [145]:
sd[sd["Name"].isin([2,3])]

Empty DataFrame
Columns: [Name, age, sex]
Index: []

In [168]:
missing_age=sd["age"].notna()

In [170]:
missing_age.shape

(5,)

# How do I select specific rows and columns from a DataFrame?

In [172]:
sd.iloc[1:2,1:4]  #frist parameter is row before the, and after the "," 
                    # which is actually 2nd parameter is number of colmun which you want
# frist parameter = number of row which you want
# Seconed parameter  = Number of colmunn which you want

  age     sex
1  98  female

In [173]:
# Assignment of the new values using iloc

In [174]:
sd.iloc[1:3 , 1] =  "iftikhar"

In [175]:
sd.head()

       Name       age     sex
0  iftikhar        90  female
1      zain  iftikhar  female
2       ali  iftikhar  female
3      asad      NULL    male
4     zaman        80    male

In [ ]:
#used loc for find finding Row and column
#used iloc for finding position in the table